body{
	font-family: Montserrat;
	/*gradient background*/
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
	
ul{
	list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
	background: rgba(19,136,153,.7);
	border-radius: 15px;
}

li{
	float: left;
	display: inline;
}

li a{
	display: block;
	color: white;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
}

li a:hover{
	background-color: #111;
}

li a.active{
	background-color: #666699;
	color: white;
}

li:hover:not(.active){
	background-color: #555;
	color: white;
}


.box{
	font-size: 18px;
	margin: 25px 110px 75px;
	background: rgba(156, 194, 255, .4);
	padding: 25px;
	border-radius: 20px;
	border: 1px solid #0d377a;
}

.box img{
	padding: 20px;
	width: 60%;
	height: auto;
}

.foot{
	background-color: #708090;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: white;
}

.foot * {
	margin: 0.5vw;
	font-size: 0.75vw;
	color: white;
}
